/* Global */
body {
    font-family: Calibri, sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(17, 96, 235), rgb(170, 204, 246)) no-repeat;
    min-height: 100vh;
}

.bg-primary-accent {
    background-color: rgb(10, 65, 158);
}

h1 {
    font-size: 110%;
}

h3 {
    font-size: 80%;
}

h4 {
    font-size: 110%;
    font-weight: bold;
    margin: 0;
}

a {
	color: rgb(9, 33, 234);
}

a:hover {
	color: rgb(9, 33, 234);
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: rgb(10, 65, 158);
    color: #ffffff;
    text-align: center;
}

.button:hover {
    color: #ffffff;
}

hr {
    border: 1px solid #cccccc;
}

/* Header */
header {
    margin-bottom: 10px;
}

#brand {
    width: 100px;
}

#open-access {
    width: 90px;
}

/* Navigation */
.nav-item {
    padding-right: 3px;
    font-size: 95%;
}

ul.navbar-nav > li {
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(231, 142, 35);
}

#menu li.current a {
    color: rgb(231, 142, 35);
}

/* Body */
#main-content {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

section {
    background-color: #ffffff;
    color: #000000;
}

.section-wrapper h1 {
    margin-bottom: 0;
    border-bottom: 1px solid #cccccc;
}

.card {
    border: none;
    border-radius: 0;
}

.card-header {
    background-color: rgb(10, 65, 158);
    padding: 5px;
    padding-bottom: 0;
    cursor: pointer;
    border-bottom: 1px solid white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-header:first-child {
    border-radius: 0;
}

.card-body {
    padding: 1em;
}

.card-body p {
    margin-bottom: 1em;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.icon {
    color: #ffffff;
    font-size: 90%;
    text-align: right;
}

section h2 {
    font-size: 110%;
    color: #ffffff;
}

.simple .card-header {
    background-color: rgb(10, 65, 158);
    border-bottom: 1px solid #cccccc;
}

.simple .simple-collapse .card-body {
    padding: 1em;
}

.simple .simple-collapse .no-padding {
    padding: 0;
}

.no-padding .container .card-header {
    background-color: transparent;
    border: 0;
}

.no-padding .container .card-header h3 {
    font-size: 105%;
}

.no-padding .container .card-header .icon {
    color: #000000;
}

.no-padding .container .card-body {
    padding: 0 20px;
}

.divider-card {
    margin: 20px 0;
}

.divider-section {
    margin-top: 20px;
}

section ul, section ol {
    padding-left: 20px;
    margin-bottom: 0;
}

section ul.articles-list {
    list-style: none;
    padding: 0;
}

section ul.articles-list li {
    margin-bottom: 20px;
}

section ul.articles-list li:last-child {
    margin: 0;
}

.section-wrapper h1 {
    text-align: center;
    font-size: 120%;
    background-color: rgb(10, 65, 158);
    color: #ffffff;
    padding: 5px 10px;
}

#download-button {
    margin: 20px 20px 20px 0;
}

section .guideline-heading {
    display: inline-block;
    width: 100%;
    font-style: normal;
}

section.guidelines p {
	text-indent: 0;
}

.section-divider {
	background-color: transparent;
	text-align: center;
    margin: 20px 0;
}

h2.simple-header {
    background-color: rgb(10, 65, 158);
    padding: 5px 15px;
    margin: 0;
}

#archive-button {
	padding: 10px 50px;
	border: 2px solid #ffffff;
	font-size: 110%;
	color: rgb(231, 142, 35);
}

td {
    text-align: center;
}

tr {
    margin-bottom: 25px;
}

table tr.no-row-margin {
    margin-bottom: 0;
}

.council-container {
    text-align: center;
    margin-bottom: 20px;
}

.council-container p {
    line-height: normal;
    padding: 0;
    margin: 0;
}

.council-container .council-title {
    font-size: 120%;
    font-style: italic;
}

.council-container .council-name {
    font-weight: bold;
}

.universities-container .university {
    padding-bottom: 20px;
}

.universities-container .university .university-logo {
    width: 70px;
}

.box-center {
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: center;
    padding: 5px;
}

.box-center address {
    padding: 0;
    margin: 0;
}

.box-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
}

/* Footer */
footer {
    background-color: rgb(10, 65, 158);
    padding: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    font-size: 80%;
}

footer ul li a {
    color: #ffffff;
}

footer ul li a:hover {
    color: rgb(231, 142, 35);
    text-decoration: none;
}

#site-map li.current a {
    color: rgb(231, 142, 35);
}

footer p {
    line-height: 1;
    text-align: center;
    font-size: 80%;
}

#ccby {
    width: 80px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    p, li, td, address {
        font-size: 120%;
    }

    a {
        font-size: 105%;
    }

    h4 {
        font-size: 150%;
    }

    #container {
        padding: 0 40px;
    }

    /* Header */
    #brand {
        width: 150px;
    }

    header h1 {
        font-size: 140%;
    }

    header h3 {
        font-size: 120%
    }

    #open-access {
        width: 130px;
    }

    /* Navigation */
    .nav-item {
        font-size: 100%;
    }

    /* Body */
    #main-content {
        padding: 25px;
    }

    .card-header {
        padding: 10px;
        padding-top: 15px;
    }

    .card-body {
        padding: 1.5em;
    }

    .section-wrapper h1 {
        font-size: 150%;
        padding: 10px;
    }

    section h2 {
        font-size: 130%;
    }

    .icon {
        font-size: 120%;
    }

    .no-padding .container .card-header h3 {
        font-size: 130%;
    }

    .simple .simple-collapse .card-body {
        padding: 1.5em;
    }

    p.box-title {
        font-size: 140%;
    }

    /* Footer */
    footer h4 {
        display: none;
    }

    footer p {
        font-size: 100%;
    }

    footer ul {
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li {
        display: inline;
        padding: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    hr {
        display: none;
    }

    .icon {
        display: none;
    }

    /* Header */
    #subheading {
        padding-top: 50px;
    }

    #subheading h1 {
        font-size: 180%;
    }

    ul.navbar-nav > li {
        padding: 0 5px;
    }

    /* Content */
    #main-content {
        padding: 25px 50px;
    }

    .section-wrapper h1 {
        font-size: 130%;
    }

    #main-content ul, ol {
        margin-left: 30px;
    }

    #main-content .card {
        margin-bottom: 30px;
    }

    #main-content .card-body {
        padding: 1.5em;
    }

    .simple .card-header {
        background-color: #ffffff;
        border: 0;
        padding-bottom: 0;
    }

    .simple .card-header h2 {
        color: #000000;
        font-size: 150%;
    }

    #main-content .simple .collapse .card-body {
        padding: 5px 1.5em;
    }

    section ul.articles-list {
        margin-left: 30px;
    }

    section.section-wrapper section:last-child {
        padding-bottom: 20px;
    }

    #archive-button {
    	padding: 10px 100px;
    	font-size: 150%;
        margin-bottom: 15px;
    }

    /* Footer */
    footer .footer-wrapper {
        padding: 10px 25px;
    }

    footer ul li {
        padding: 10px;
        text-transform: uppercase;
    }

    footer .footer-wrapper p {
        padding: 0 150px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {

} */