/* Global */
body {
    font-family: Calibri, sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(17, 96, 235), rgb(170, 204, 246)) no-repeat;
    min-height: 100vh;
}

.bg-primary-accent {
    background-color: rgb(10, 65, 158);
}

h1 {
    font-size: 110%;
}

h3 {
    font-size: 80%;
}

h4 {
    font-size: 110%;
    font-weight: bold;
    margin: 0;
}

a {
	color: rgb(9, 33, 234);
}

a:hover {
	color: rgb(9, 33, 234);
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: rgb(10, 65, 158);
    color: #ffffff;
    text-align: center;
}

.button:hover {
    color: #ffffff;
}

hr {
    width: 80%;
    border: 1px solid #cccccc;
    margin: 20px auto;
}

/* Header */
#brand {
    width: 100px;
}

#open-access {
    width: 90px;
}

/* Navigation */
.nav-item {
    padding-right: 3px;
    font-size: 95%;
}

ul.navbar-nav > li {
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(231, 142, 35);
}

#menu li.current a {
    color: rgb(231, 142, 35);
}

/* Body */
#main-content {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

section {
    background-color: #ffffff;
    color: #000000;
}

.card {
    border: none;
    margin-bottom: 10px;
}

.card-header {
    background-color: rgb(10, 65, 158);
    padding: 5px;
    padding-bottom: 0;
    cursor: pointer;
}

.card-header:first-child {
    border: none;
    border-radius: 0;
}

.card-body {
    padding: 1em;
}

.card-body p {
    margin-bottom: 1em;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.icon {
    color: #ffffff;
    font-size: 90%;
}

section h2 {
    color: #ffffff;
    font-size: 110%;
}

.simple .card-header {
    background-color: transparent;
    padding: 0;
}

.simple .card-header h2 {
    color: #000000;
    font-weight: bold;
}

.simple .simple-collapse .card-body {
    padding: 0 1em;
}

.simple .icon {
    color: #000000;
}

section h3 {
    padding: 10px 20px;
    font-size: 120%;
    font-weight: bold;
}

section ul {
    padding-left: 20px;
    margin-bottom: 0;
}

section ul.articles-list {
    list-style: none;
    padding: 0;
}

section ul.articles-list li {
    margin-bottom: 20px;
}

section ul.articles-list li:last-child {
    margin: 0;
}

.section-wrapper h1 {
    text-align: center;
    font-size: 120%;
    background-color: rgb(10, 65, 158);
    color: #ffffff;
    padding: 5px 10px;
}

#download-button {
    margin: 20px 20px 20px 0;
}

section .guideline-heading {
    display: inline-block;
    width: 100%;
    font-style: normal;
}

section.guidelines p {
	text-indent: 0;
}

.guideline-heading {
	font-weight: bold;
}

.guideline-list {
	padding-left: 60px;
}

.section-divider {
	background-color: transparent;
	text-align: center;
    margin: 20px 0;
}

#archive-button {
	padding: 10px 50px;
	border: 2px solid #ffffff;
	font-size: 110%;
	color: rgb(231, 142, 35);
}

.author-guidelines {
    list-style: upper-roman;
    display: block;
    clear: both;
    padding: 0 40px;
}

.author-guidelines > li {
    counter-increment: root;
    padding-top: 20px;
}

ol.author-guidelines > li > ol {
    counter-reset: subsection;
    list-style-type: none;
    padding-left: 20px;
}

ol.author-guidelines > li > ol > li {
    counter-increment: subsection;
    padding: 5px 0;
}

ol.author-guidelines > li > ol > li:before {
    content: counter(root) "." counter(subsection) ". ";
}

.definition-indent {
    display: block;
    margin-left: 30px;
}

#editorial-board h3 {
    font-size: 150%;
}

table {
    display: inline-block;
    margin-bottom: 25px;
}

table.container {
    padding-left: 40px;
}

table > * {
    display: inline;
}

tr.row {
    margin-bottom: 5px;
}

div.council-container {
    margin: 30px 0;
}

div.council-container p {
    text-indent: 0;
}

div.council-container i {
    font-size: 110%;
}

/* Footer */
footer {
    background-color: rgb(10, 65, 158);
    padding: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    font-size: 80%;
}

footer ul li a {
    color: #ffffff;
}

footer ul li a:hover {
    color: rgb(231, 142, 35);
    text-decoration: none;
}

#site-map li.current a {
    color: rgb(231, 142, 35);
}

footer p {
    line-height: 1;
    text-align: center;
    font-size: 80%;
}

#ccby {
    width: 80px;
}