body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(17, 96, 235), rgb(170, 204, 246)) no-repeat;
}

.bg-primary-accent {
    background-color: rgb(10, 65, 158); 
}

/* Header */
#brand {
    width: 145px;
}

#open-access {
    width: 100px;
}

h1 {
    font-size: 160%;
    font-family: "Times New Roman", serif;
}

h3 {
    font-size: 110%;
}

/* Navigation */
.nav-item {
    padding-right: 2px;
}

ul.navbar-nav > li {
    text-transform: uppercase;
}

ul.navbar-nav li a {
    color: #ffffff;
}

ul.navbar-nav li a:hover {
    color: rgb(253, 164, 41);
}

#navbar-nav .current {
    color: rgb(253, 164, 41);
}

/* Body */
main {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 50px;
}

section {
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

section h2 {
    background-color: rgb(10, 65, 158);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 120%;
}

section h3 {
    padding: 10px 20px;
    font-size: 120%;
    margin-bottom: 10px;
    font-weight: bold;
}

section p {
    padding: 0 20px;
	text-indent: 40px;
    text-align: justify;
}

section .article {
    text-indent: 0;
    padding: 5px 50px;
    font-style: italic;
    line-height: 1.10;
}

section .article a {
    display: inline-block;
    width: 100%;
    font-style: normal;
}

/* Footer */
footer {
    background-color: rgb(10, 65, 158);
    padding: 20px 40px;
    text-align: center;
}

footer p {
    width: 80%;
    margin: 0 auto;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    main {
        padding: 5px 10px;
    }
}
